In [2]:
import pandas as pd


names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

my_dict = dict(zip(['country', 'drives_right', 'cars_per_cap'], [names, dr, cpc]))
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [1]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [6]:
country = cars['country']
print(type(country))
country_and_drives_right = cars[['country', 'drives_right']]
print(type(country_and_drives_right))

print(country, country_and_drives_right, sep='\n')

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [7]:
print(cars.head(3))
print(cars[4:7])

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
     country  drives_right  cars_per_cap
RU    Russia          True           200
MOR  Morocco          True            70
EG     Egypt          True            45

In [10]:
print(cars.loc['US'])
print(cars.iloc[[1, -1]])

country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [11]:
print(cars.iloc[[-2, -1], [2]])
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

     cars_per_cap
MOR            70
EG             45
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [12]:
print(cars.loc[:, 'drives_right']) # Series
print(cars.loc[:, ['drives_right']]) # DataFrame
print(cars.iloc[:, [0, 2]]) # DataFrame have 2 columns

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True
           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [6]:
print(cars['drives_right'] == True)
cars[cars['drives_right'] == True]

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [8]:
dr = cars['drives_right']
cars[dr]

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [10]:
cars[(cars['cars_per_cap'] > 100) & (cars['cars_per_cap'] < 500)]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [14]:
import numpy as np

_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
for x in np.nditer(_list):
    print(x)

(array(1), array(4), array(7), array(10))
(array(2), array(5), array(8), array(11))
(array(3), array(6), array(9), array(12))

In [17]:
for index, (nation, info) in enumerate(cars.iterrows()):
    if index == 1:
        break
    print(nation)
    print(info)

US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object

In [24]:
for x, (y, z) in enumerate(cars.iteritems()):
    print(x, y)
    print(z)

0 country
US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
1 drives_right
US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
2 cars_per_cap
US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [27]:
for lab, row in cars.iterrows():
    print(f"{lab}: {str(row['cars_per_cap'])}")

US: 809
AUS: 731
JPN: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [30]:
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = cars.loc[lab, 'country'].upper()

cars['test'] = list(map(lambda x: x.upper(), cars['country']))
cars['test2'] = cars['country'].apply(str.upper)
print(cars)

           country  drives_right  cars_per_cap        COUNTRY           test  \
US   United States          True           809  UNITED STATES  UNITED STATES
AUS      Australia         False           731      AUSTRALIA      AUSTRALIA
JPN          Japan         False           588          JAPAN          JAPAN
IN           India         False            18          INDIA          INDIA
RU          Russia          True           200         RUSSIA         RUSSIA
MOR        Morocco          True            70        MOROCCO        MOROCCO
EG           Egypt          True            45          EGYPT          EGYPT

             test2
US   UNITED STATES
AUS      AUSTRALIA
JPN          JAPAN
IN           INDIA
RU          RUSSIA
MOR        MOROCCO
EG           EGYPT